In [1]:
import pandas as pd

df = pd.read_csv('歷年國內主要觀光遊憩據點遊客人數月別統計.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3065 entries, 0 to 3064
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年別      3065 non-null   int64
 1   類型      3065 non-null   object
 2   觀光遊憩區   3065 non-null   object
 3   細分      3065 non-null   object
 4   縣市別     3065 non-null   object
 5   1月      3064 non-null   float64
 6   2月      3064 non-null   float64
 7   3月      3064 non-null   float64
 8   4月      3064 non-null   float64
 9   5月      3064 non-null   float64
 10  6月      3064 non-null   float64
 11  7月      3064 non-null   float64
 12  8月      3064 non-null   float64
 13  9月      3064 non-null   float64
 14  10月     3064 non-null   float64
 15  11月     2741 non-null   float64
 16  12月     2741 non-null   float64
 17  合計      3065 non-null   int64
dtypes: float64(12), int64(2), object(4)
memory usage: 431.1+ KB

In [2]:
df1 = df.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2741 entries, 0 to 2741
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年別      2741 non-null   int64
 1   類型      2741 non-null   object
 2   觀光遊憩區   2741 non-null   object
 3   細分      2741 non-null   object
 4   縣市別     2741 non-null   object
 5   1月      2741 non-null   float64
 6   2月      2741 non-null   float64
 7   3月      2741 non-null   float64
 8   4月      2741 non-null   float64
 9   5月      2741 non-null   float64
 10  6月      2741 non-null   float64
 11  7月      2741 non-null   float64
 12  8月      2741 non-null   float64
 13  9月      2741 non-null   float64
 14  10月     2741 non-null   float64
 15  11月     2741 non-null   float64
 16  12月     2741 non-null   float64
 17  合計      2741 non-null   int64
dtypes: float64(12), int64(2), object(4)
memory usage: 406.9+ KB

In [3]:
df2 = df1.drop(columns=['類型','細分'])
df2

,年別,觀光遊憩區,縣市別,1月,2月,3月,4月,5月,6月,7月,8月,9月,10月,11月,12月,合計
0,2012,陽明山國家公園,臺北市,12187.0,18612.0,18580.0,13329.0,14179.0,11397.0,16000.0,11791.0,10469.0,11515.0,6896.0,9631.0,154586
1,2012,陽明山國家公園,臺北市,2597.0,3617.0,5221.0,4317.0,3497.0,2815.0,3005.0,2497.0,2764.0,3701.0,2863.0,2983.0,39877
2,2012,陽明山國家公園,臺北市,161000.0,463000.0,705200.0,85600.0,38600.0,28000.0,51700.0,44700.0,39000.0,36000.0,35000.0,33000.0,1720800
3,2012,陽明山國家公園,臺北市,17047.0,29079.0,38558.0,34332.0,43906.0,42586.0,63721.0,41881.0,51743.0,38214.0,27467.0,27306.0,455840
4,2012,陽明山國家公園,臺北市,21201.0,22134.0,62447.0,64691.0,16243.0,15811.0,15787.0,16963.0,16176.0,18951.0,18136.0,19135.0,307675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2737,2020,-,臺北市,22899.0,29229.0,25656.0,14781.0,21475.0,18011.0,14923.0,9908.0,12431.0,23920.0,20569.0,20802.0,234604
2738,2020,-,桃園市,445198.0,411077.0,369413.0,332659.0,379552.0,373923.0,422246.0,474878.0,296506.0,534701.0,508443.0,342426.0,4891022
2739,2020,-,臺中市,82671.0,133445.0,67056.0,62238.0,87152.0,128201.0,129064.0,124163.0,87666.0,90910.0,50475.0,34575.0,1077616
2740,2020,-,臺中市,17199.0,12453.0,6093.0,6882.0,7485.0,13442.0,13712.0,17648.0,11595.0,25481.0,22401.0,20490.0,174881
2741,2020,-,臺中市,106129.0,82834.0,42084.0,26631.0,41707.0,56324.0,89589.0,80947.0,113214.0,158458.0,106662.0,92923.0,997502

In [4]:
df2 = df1.drop(columns=['類型','細分'])
df2['年別'] = df2['年別'].astype(str)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2741 entries, 0 to 2741
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年別      2741 non-null   object
 1   觀光遊憩區   2741 non-null   object
 2   縣市別     2741 non-null   object
 3   1月      2741 non-null   float64
 4   2月      2741 non-null   float64
 5   3月      2741 non-null   float64
 6   4月      2741 non-null   float64
 7   5月      2741 non-null   float64
 8   6月      2741 non-null   float64
 9   7月      2741 non-null   float64
 10  8月      2741 non-null   float64
 11  9月      2741 non-null   float64
 12  10月     2741 non-null   float64
 13  11月     2741 non-null   float64
 14  12月     2741 non-null   float64
 15  合計      2741 non-null   int64
dtypes: float64(12), int64(1), object(3)
memory usage: 364.0+ KB

In [5]:
df3 = df2.set_index(keys=['年別','觀光遊憩區','縣市別'])
df3.columns.name='月份'
df3.shape

(2741, 13)

In [6]:
df4 = df3.stack(level='月份')
df4.shape

(35633,)

In [7]:
display(df4.info)
df4.index.get_level_values(level='月份')

<bound method Series.info of 年別    觀光遊憩區    縣市別  月份
2012  陽明山國家公園  臺北市  1月      12187.0
                    2月      18612.0
                    3月      18580.0
                    4月      13329.0
                    5月      14179.0
                             ...
2020  -        臺中市  9月     113214.0
                    10月    158458.0
                    11月    106662.0
                    12月     92923.0
                    合計     997502.0
Length: 35633, dtype: float64>

Index(['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月',
       ...
       '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月', '合計'],
      dtype='object', name='月份', length=35633)

In [8]:
#索引的值有重覆,無法作unstack()
df4.index.get_level_values(level='縣市別')

Index(['臺北市', '臺北市', '臺北市', '臺北市', '臺北市', '臺北市', '臺北市', '臺北市', '臺北市', '臺北市',
       ...
       '臺中市', '臺中市', '臺中市', '臺中市', '臺中市', '臺中市', '臺中市', '臺中市', '臺中市', '臺中市'],
      dtype='object', name='縣市別', length=35633)

In [9]:

df4.unstack(level='月份')

ValueError: Index contains duplicate entries, cannot reshape

In [10]:
df5 = df4.groupby(level=['縣市別','月份']).sum()
df5.index.get_level_values('縣市別')
df5.index.get_level_values('月份')

Index(['10月', '11月', '12月', '1月', '2月', '3月', '4月', '5月', '6月', '7月',
       ...
       '1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '合計'],
      dtype='object', name='月份', length=286)

In [11]:
df5

縣市別  月份
南投縣  10月     11630675.0
     11月     11668019.0
     12月     11118585.0
     1月       9863804.0
     2月      15470552.0
               ...
高雄市  6月      15965843.0
     7月      20859438.0
     8月      19566066.0
     9月      15940732.0
     合計     275429217.0
Length: 286, dtype: float64